# Rust
/core-wasm/target/
**/*.rs.bk
Cargo.lock

# Node.js
**/node_modules/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json

# wasm-pack build output
**/pkg/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# User data
.data/*

# Agent data
err.txt